{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "extends": "eslint:recommended",
  "installedESLint": true,
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "react-native",
    "import"
  ],
  "rules": {
    "prefer-const": "error",
    "no-const-assign": "error",
    "no-var": "error",
    "no-new-object": "error",
    "object-shorthand": "error",
    "quote-props": [
      "error",
      "as-needed"
    ],
    "no-array-constructor": "error",
    "array-callback-return": "error",
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": false
      }
    ],
    "prefer-template": "error",
    "template-curly-spacing": [
      "error",
      "never"
    ],
    "no-useless-escape": "error",
    "func-style": [
      "error",
      "declaration",
      {
        "allowArrowFunctions": true
      }
    ],
    "wrap-iife": [
      "error",
      "inside",
      {
        "functionPrototypeMethods": true
      }
    ],
    "no-loop-func": "error",
    "prefer-rest-params": "error",
    "no-new-func": "error",
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "never",
        "asyncArrow": "ignore"
      }
    ],
    "space-before-blocks": "error",
    "no-param-reassign": "error",
    "prefer-spread": "error",
    "prefer-arrow-callback": "error",
    "arrow-spacing": "error",
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "arrow-body-style": [
      "error",
      "as-needed"
    ],
    "no-confusing-arrow": [
      "error",
      {
        "allowParens": true
      }
    ],
    "no-useless-constructor": "error",
    "no-dupe-class-members": "error",
    "no-duplicate-imports": [
      "error",
      {
        "includeExports": true
      }
    ],
    "import/no-mutable-exports": "error",
    "import/prefer-default-export": "warn",
    "import/first": "error",
    "no-iterator": "error",
    "no-restricted-syntax": [
      "error",
      "WithStatement"
    ],
    "generator-star-spacing": [
      "error",
      "after"
    ],
    "dot-notation": [
      "error",
      {
        "allowKeywords": false
      }
    ],
    "no-undef": "error",
    "one-var": [
      "error",
      "never"
    ],
    "no-plusplus": "error",
    "eqeqeq": [
      "error",
      "always",
      {
        "null": "ignore"
      }
    ],
    "no-case-declarations": "error",
    "no-nested-ternary": "error",
    "no-unneeded-ternary": [
      "error",
      {
        "defaultAssignment": false
      }
    ],
    "brace-style": [
      "error",
      "1tbs",
      {
        "allowSingleLine": true
      }
    ],
    "spaced-comment": [
      "error",
      "always"
    ],
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1,
        "FunctionExpression": {
          "parameters": 1,
          "body": 1
        }
      }
    ],
    "keyword-spacing": [
      "error",
      {
        "before": true,
        "after": true
      }
    ],
    "space-infix-ops": "error",
    "eol-last": "error",
    "newline-per-chained-call": "error",
    "no-whitespace-before-property": "error",
    "padded-blocks": [
      "error",
      "never"
    ],
    "space-in-parens": [
      "error",
      "never"
    ],
    "array-bracket-spacing": [
      "error",
      "never",
      {
        "singleValue": false,
        "objectsInArrays": false,
        "arraysInArrays": false
      }
    ],
    "object-curly-spacing": [
      "error",
      "always",
      {
        "arraysInObjects": true,
        "objectsInObjects": true
      }
    ],
    "max-len": [
      "warn",
      100
    ],
    "comma-style": [
      "error",
      "last"
    ],
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "semi": [
      "error",
      "always"
    ],
    "radix": [
      "error",
      "as-needed"
    ],
    "id-length": [
      "error",
      {
        "exceptions": [
          "_"
        ],
        "properties": "never"
      }
    ],
    "camelcase": "error",
    "new-cap": [
      "error",
      {
        "newIsCap": true,
        "capIsNew": false
      }
    ],
    "no-underscore-dangle": [
      "warn",
      {
        "allowAfterSuper": true
      }
    ],
    "react/prefer-es6-class": [
      "error",
      "always"
    ],
    "react/prefer-stateless-function": "error",
    "react/jsx-pascal-case": [
      "error",
      {
        "allowAllCaps": false
      }
    ],
    "react/jsx-closing-bracket-location": "error",
    "jsx-quotes": [
      "error",
      "prefer-double"
    ],
    "no-multi-spaces": "error",
    "react/jsx-space-before-closing": [
      "error",
      "always"
    ],
    "react/jsx-curly-spacing": [
      "error",
      "never"
    ],
    "react/jsx-boolean-value": [
      "error",
      "never"
    ],
    "react/no-string-refs": "error",
    "react/jsx-wrap-multilines": "error",
    "react/self-closing-comp": "error",
    "react/jsx-no-bind": [
      "error",
      {
        "allowArrowFunctions": true
      }
    ],
    "react/require-render-return": "error",
    "react/sort-comp": "error",
    "react/no-is-mounted": "error",
    "react/jsx-uses-vars": "error",
    "react/jsx-no-undef": "error"
  }
}